{
  "id": "root",
  "initial": "intro",
  "context": {
    "capturedPhotoPaths": [],
    "exifOrientation": 1,
    "photoPath": "",
    "maxNumberOfPhotos": {{{maxNumberOfPhotos}}},
    "compositeConfig": {
        "templateLayout": "{{{assets.compositePhoto.compositeConfig.templateLayout}}}",                                
        "overlayImage": "{{{assets.compositePhoto.compositeConfig.overlayImage}}}",
        "logoImage": "{{{assets.compositePhoto.compositeConfig.logoImage}}}",
        "logoImageOffset": "{{{assets.compositePhoto.compositeConfig.logoImageOffset}}}",
        "logoImageSize": "{{{assets.compositePhoto.compositeConfig.logoImageSize}}}",
        "overlayText": "{{{assets.compositePhoto.compositeConfig.overlayText}}}",
        "overlayTextSize": "{{{assets.compositePhoto.compositeConfig.overlayTextSize}}}",
        "overlayTextOffset": "{{{assets.compositePhoto.compositeConfig.overlayTextOffset}}}"
    }
  },
  "states": {
    "intro": {
      "entry": ["transition"],
      "meta": { 
        "path": "/intro", 
        "assets": {
            "assetPath": "{{{assets.intro.assetPath}}}",
            "website": "{{{website}}}"
        }
      },
      "on": {
        "event.intro.01": {
          "target": "mirrotWillTakePhotos"
        }
      }
    },
    "mirrotWillTakePhotos": {
      "entry": ["transition"],
      "meta": { 
        "path": "/anim1/6", 
        "assets": {
            "assetPath": "{{{assets.mirrotWillTakePhotos}}}"
        } 
      },
      "initial": "anim_loaded",
      "states": {
          "anim_loaded": {
              "on": {
                  "event.anim1.01": {
                      "target": "anim_running"
                  }           
              }
          },
          "anim_running": {
              "after": {
                  "FINISH_ANIM": "#root.countdown"
              }
          }
      }
    },
    "countdown": {
      "entry": ["transition"],
      "meta": { 
        "path": "/anim1/3", 
        "assets": {
            "assetPath": "{{{assets.countdown}}}",
            "website": "{{{website}}}"
        } 
      },
      "initial": "anim_loaded",
      "states": {
          "anim_loaded": {
              "on": {
                  "event.anim1.01": {
                      "target": "anim_running"
                  }           
              }
          },
          "anim_running": {
              "after": {
                  "FINISH_ANIM": "#root.lookAtCamera"
              }
          }
      }
    },
    "lookAtCamera": {
      "entry": ["transition"],
      "meta": { 
        "path": "/anim1/8", 
        "assets": {
            "assetPath": "{{{assets.lookAtCamera}}}"
        } 
      },
      "initial": "anim_loaded",
      "states": {
          "anim_loaded": {
              "on": {
                  "event.anim1.01": {
                      "target": "anim_running",
                      "actions": "triggerLed"
                  }           
              }
          },
          "anim_running": {
              "after": {
                  "FINISH_ANIM": "#root.clearLed"
              }
          }
      }
    },
    "clearLed": {
      "invoke": {
        "id": "clear",
        "src": "clearLed",
        "onDone": {
          "target": "capturePhoto",
          "actions": "logClearLed"
        },
        "onError": {
          "target": "capturePhoto",
          "actions": "logError"
        }              
      }
    },        
    "capturePhoto": {
      "invoke": {
        "id": "capture",
        "src": "capturePhoto",
        "onDone": {
          "target": "acceptPhoto",
          "actions": "setCapturedPhoto"
        },
        "onError": {
          "target": "errorPage",
          "actions": "logError"
        }              
      }
    },
    "acceptPhoto":  {
      "entry": ["updateMetaAssetsWithContext", "transition"],
      "meta": { 
        "path": "/accept-photo", 
        "assets": { 
            "assetButtonOkPath": "{{{assets.acceptPhoto.assetButtonOkPath}}}", 
            "assetButtonNokPath": "{{{assets.acceptPhoto.assetButtonNokPath}}}"
        }
      },
      "on": {
        "event.accept-photo.01": [
          { "target": "drawing", "cond": "targetNumberOfPhotosReached" },
          { "target": "countdown"}
        ],
        "event.accept-photo.02": {
          "target": "countdown",
          "actions": "popCapturedPhotos"
        }
      }
    },
    "drawing":  {
      "entry": ["transition"],
      "meta": { 
        "path": "/drawing", 
        "assets": { 
            "assetButtonClear": "{{{assets.drawing.assetButtonClear}}}", 
            "assetButtonOk": "{{{assets.drawing.assetButtonOk}}}",
            "assetButtonColor": "{{{assets.drawing.assetButtonColor}}}"
        }
      },
      "on": {
        "event.drawing-tool.01": "compositePhoto"
      }
    },
    "compositePhoto": {
      "entry": ["transition"],
      "meta": { 
        "path": "/anim1/6", 
        "assets": {
          "assetPath": "{{{assets.compositePhoto.assetPath}}}"
        }      
      },
      "invoke": {
        "id": "composite",
        "src": "compositePhoto",
        "onDone": {
          "target": "acceptCompositedPhoto",
          "actions": "clearCapturedPhotos"
        },
        "onError": {
          "target": "errorPage",
          "actions": "logError"
        }
      }
    },
    "acceptCompositedPhoto":  {
      "entry": ["transition", "updateMetaAssetsWithContext"],
      "meta": { 
        "path": "/accept-photo", 
        "assets": { 
            "assetButtonOkPath": "{{{assets.acceptCompositedPhoto.assetButtonOkPath}}}", 
            "assetButtonNokPath": "{{{assets.acceptCompositedPhoto.assetButtonNokPath}}}"                
        }
      },
      "on": {
        "event.accept-photo.01": "selectPrintPhotos",
        "event.accept-photo.02": "countdown"
      }
    },
    "selectPrintPhotos":  {
      "entry": ["transition"],
      "meta": { 
        "path": "/select-print-photos", 
        "assets": { 
            "assetButtonPlus": "{{{assets.selectPrintPhotos.assetButtonPlus}}}", 
            "assetButtonMinus": "{{{assets.selectPrintPhotos.assetButtonMinus}}}",
            "assetButtonPrinter": "{{{assets.selectPrintPhotos.assetButtonPrinter}}}"
        }
      },
      "on": {
        "event.select-print-photos.01": "printPhoto"
      }
    },
    "printPhoto": {
      "invoke": {
        "id": "print",
        "src": "printPhoto",
        "onDone": {
          "target": "mirrorWillPrintPhotos",
          "actions": "logStatus"
        },
        "onError": {
          "target": "errorPage",
          "actions": "logError"
        }              
      }
    },
    "mirrorWillPrintPhotos": {
      "entry": ["transition"],
      "meta": { 
        "path": "/anim1/7", 
        "assets": {
            "assetPath": "{{{assets.mirrorWillPrintPhotos}}}"
        } 
      },
      "initial": "anim_loaded",
      "states": {
          "anim_loaded": {
              "on": {
                  "event.anim1.01": {
                      "target": "anim_running"
                  }           
              }
          },
          "anim_running": {
              "after": {
                  "FINISH_ANIM": "#root.intro"
              }
          }
      }
    },
    "errorPage": {
      "entry": ["transition"],
      "meta": { 
        "path": "/error",
        "assets": { 
            "assetButtonHome": "{{{assets.errorPage.assetButtonHome}}}",
            "phoneNumber": "{{{phone_number}}}"           
        } 
      },
      "on": {
        "event.error-page.01": "intro"
      }
    }     
  }
}