@import "~@simonwep/pickr/dist/themes/nano.min.css";

#canvas {
    border: 1px solid rgb(170, 170, 170);
}

.inner {
    display: flex;
    justify-content:center;
}

.inner img {
    width:120px;
}

#button-color button {
    width: 100px;
    height: 100px;
    margin-top: 10%;
}

#button-clear {
    display: inline-block;
    margin-left: 5%;

    filter: 
    sepia(100%) 
    saturate(2000%) 
    hue-rotate(270deg); /* Hue is a degree on the color wheel from 0 to 360. 0 is red, 120 is green, 240 is blue. */
}

#button-color {
    display: inline-block;
    margin-left: 5%;    
}

#button-ok {
    display: inline-block;
    margin-left: 5%;

    filter: 
    sepia(100%) 
    saturate(2000%) 
    hue-rotate(40deg); /* Hue is a degree on the color wheel from 0 to 360. 0 is red, 120 is green, 240 is blue. */
}