#canvas {
    border: 1px solid rgb(170, 170, 170);
}

.inner {
    display: flex;
    justify-content:center;
}

#button-clear {
    display: inline-block;
    margin-left: 5%;

    filter: 
    sepia(100%) 
    saturate(2000%) 
    hue-rotate(270deg); /* Hue is a degree on the color wheel from 0 to 360. 0 is red, 120 is green, 240 is blue. */
}

#button-color {
    display: inline-block;
    margin-left: 5%;
}

#button-ok {
    display: inline-block;
    margin-left: 5%;

    filter: 
    sepia(100%) 
    saturate(2000%) 
    hue-rotate(40deg); /* Hue is a degree on the color wheel from 0 to 360. 0 is red, 120 is green, 240 is blue. */
}

img {
    width:120px;
}


input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 100px;
	height: 100px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}