#overlay-outer {
    position: relative;
    padding: 60px;

    /* needed for smooth fading in animation */
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25s ease-in;
    -ms-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
}

#canvas-qr-div {
    /* needed for smooth fading in animation */
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25s ease-in;
    -ms-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
}

.overlay-bottom{
    display: inline;
    position:relative;
    bottom:100px;
}

.overlay-left{
    display: inline;
    position:absolute;
    left: 30px;
    top:0;
}

.overlay-right{
    display: inline;
    position:absolute;
    right:30px;
    top:0;
}

.overlay-right > img {
    width:120px;
}

.overlay-left > img {
    width:120px;
}

.image {
    max-width: 800px;
    position: relative;
}

.text-subsubheader {
    text-align: center;
    font-size: 40px;    
}