.overlay-outer {
    position: relative;
    padding: 60px;
}

.overlay-left{
    display: inline;
    position:absolute;
    left: 30px;
    top:0;
}

.overlay-right{
    display: inline;
    position:absolute;
    right:30px;
    top:0;
}

.overlay-right > img {
    width:120px;
}

.overlay-left > img {
    width:120px;
}

.image {
    max-width: 800px;
}