/* You can add global styles to this file, and also import other style files */
body {
    background: black;
    display: table-cell;
    vertical-align: middle;
}
html, body {
    height: 100%;    
    overscroll-behavior: none;
}

html {
    display: table;
    margin: auto;
    touch-action: none;
}
h1, p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}